
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  

  <div class="form-inputs">
    <label class="btn">
    Add a picture!
      <%= f.input :image, as: :hidden, input_html: { value: @profile.cached_image_data } %>
      <%= f.input :image, as: :file, label: false;  %>
    </label>
      <%= f.input :first_name, label: false, placeholder: "First Name"%>
      <%= f.input :last_name, label: false, placeholder: "Last Name" %>
      <%= f.input :dob, as: :string, label: false, placeholder: "Date of Birth" %>
      <%= f.input :bio, label: false, placeholder: "Short Bio" %>
      <%= f.input :street_address,label: false, placeholder: "Address" %>
      <%= f.input :city, label: false, placeholder: "City" %>
      <%= f.input :postal_code, label: false, placeholder: "Post Code" %>
      <%= f.input :state, label: false, placeholder: "State" %>
      <%= f.input :country_code, priority: ["AU", "NZ", "US", "GB"], label: false, placeholder: "Select Your Country" %>
      <%= f.input :identification, label: false, placeholder: "Drivers License Number" %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


