
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :image, as: :hidden, input_html: { value: @profile.cached_image_data } %>
    <%= f.input :image, as: :file, label: "Select your profile photo" %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :dob, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:day, :month, :year], label: "Date of birth"%>
    
    <%= f.input :bio %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :postal_code %>
    <%= f.input :state %>
    <%#= f.input :country_code %>
    <%= f.input :identification %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


