<p>
  <%= image_tag @profile.image_url(:small) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.first_name %> 
  <%= @profile.last_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @profile.postal_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @profile.country_code %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @profile.identification %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', pages_user_home_path %>
