
<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :title %>
    <%= f.input :started_at %>
    <%= f.input :completed_at %>
    <%= f.input :price %>
    <%= f.input :instructions %>
    <%= f.input :uuid %>
    <%= f.input :qrcode_data %>
    <%= f.input :stripe_charge_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
