
<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.association :user %>
    <%= f.input :street_address, label: "Set Job Q-ing Street Address:" %>
    <%= f.input :city %>
    <%= f.input :title, label: "Job Q-ing Title:" %>
    <%= f.input :started_at %>
    <%= f.input :price %>
    <%= f.input :instructions %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
