<div>
<%= render 'layouts/hamburger_menu' %>
<h1 class="title-three">Your Current Qings</h1>
<h2><strong>Jobs Approved:</strong></h2> 
<% current_user.applications.each do |a| %>
 <% if a.approved == true %>
 <% j = @jobs.find(a.job_id) %>
<div class="job-grid">
    <div class="image-wrap">
   <%= image_tag j.user.profile.image_url(:job_card)%>
   <p>
   <%= j.user.profile.first_name %>
   <%= j.user.profile.last_name %>
   </p>
  </div>

   <div class="job-details">
    <span class="job-card-title"><%= j.title %></span>
      <ul>
        <li><%= j.city %></li>
        <li>$<%= j.price %></li>
      </ul>
   </div>
   <div class="job-link"> 
   <%= link_to 'See Job', job_path(j.id) %>
   </div>
  </div>
  <% else %>
<% end %>
<% end %>

<h2><strong>Jobs Applied For:</strong></h2> 
<% current_user.applications.each do |a| %>
<% if a.approved == nil  %>
<% j = @jobs.find(a.job_id) %>
  
  <div class="job-grid">
    <div class="image-wrap">
   <%= image_tag j.user.profile.image_url(:job_card)%>
   <p>
   <%= j.user.profile.first_name %>
   <%= j.user.profile.last_name %>
   </p>
  </div>

   <div class="job-details">
    <span class="job-card-title"><%= j.title %></span>
      <ul>
        <li><%= j.city %></li>
        <li>$<%= j.price %></li>
      </ul>
   </div>
   <div class="job-link"> 
   <%= link_to 'See Job', job_path(j.id) %>
   </div>
  </div>
  <% else %>
<% end %>
<% end %>

    <span class="bottom-btn-three">
    <%= link_to 'Back', pages_user_home_path %>
  </span>

  <span class="bottom-btn-four">
    <%= link_to 'Find New Job', pages_user_home_path %>
  </span>
</div>