<p id="notice"><%= notice %></p>


<p>
  <strong>Street address:</strong>
  <%= @job.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @job.city %>
</p>

<p>
  <strong>Job Q-ing Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @job.started_at %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @job.price %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @job.instructions %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', pages_user_home_path %>
