



<div class="job">
  <%= render 'layouts/hamburger_menu' %>
  <div class="job-profile">
    <%= image_tag @job.user.profile.image_url(:small) %>
    <h2>
    <%= @job.user.profile.first_name %>
    <%= @job.user.profile.last_name %>
    </h2>
  </div>
  <div class="text-fields">
    <div>
      <h3>Street address:</h3>
      <p class="job-field"><%= @job.street_address %></p>
    </div>

    <div>
      <h3>City:</h3> 
      <p class="job-field"><%= @job.city %></p>
    </div>

    <div>
      <h3>Q-ing Job:</h3> 
      <p class="job-field"><%= @job.title %></p>
    </div>

    <div>
      <h3>Started Time:</h3> 
      <p class="job-field"><%= @job.started_at %></p>
    </div>

    <div>
      <h3>Price:</h3> 
      <p class="job-field">$<%= @job.price %></p>
    </div>

      <div>
      <h3>Instructions:</h3> 
      <p class="job-field"><%= @job.instructions %></p>
    </div>
   </div> 

  <div class="bottom-btns">
    <p class="back-btn"><%= link_to 'Back', pages_user_home_path %></p>
    <% unless @job.user_id == current_user.id %>
    <p><%= button_to 'Show Interest', apply_job_path, method: :post %></p>
    <% end %>
  </div>
</div>



