<%= link_to 'Book Qer', new_job_path %> |
<%= link_to 'See Bookings', jobs_path(current_user) %> |
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %> |
<%= link_to 'View Profile', profile_path(current_user) %>
<h1>Welcome home <%= current_user.profile.first_name %></h1>

<h2>A map with current available jobs goes here</h2>

<p>
  <strong>Latitude:</strong>
  <%= current_user.profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= current_user.profile.longitude %>
</p>
    <style>
      #map {
        height: 400px;
        width: 400px;
       }
    </style>

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
        var lat = <%= current_user.profile.latitude %>
        var lng = <%= current_user.profile.longitude %>
      function initMap() {
        var school = {lat: lat , lng: lng };
        var grr = {lat: -37.8124171 , lng: 144.9732789 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: school
        });
        
        var marker = new google.maps.Marker({
          position: school,
          map: map
        });

        var marker2 = new google.maps.Marker({
          position: grr,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["YOUR_API_KEY"] %>&callback=initMap">
    </script>


<br><br><br><br>
<div>
    <%= @jobs.count %> <br>
    <% @jobs.each do |job| %> <br>
        <div>
        <%= image_tag job.user.profile.image_url(:job_card) %> <br>
        <%= job.user.profile.first_name %>
        <%= job.user.profile.last_name %>
        </div><br>

        <div>
        <%= job.title %> <br>
        <ul>
            <li><%= job.street_address %></li>
            <li><%= job.city %></li>
            <li><%= job.started_at %></li>
            <li>$<%= job.price %></li>
            <li><%= job.instructions %></li>
        </ul>
        <%= link_to 'See Job', job_path(job.id) %>
        </div>
    <% end %>
</div>

<%# t.bigint "user_id"
    t.text "street_address"
    t.string "city"
    t.decimal "latitude"
    t.decimal "longitude"
    t.string "title"
    t.datetime "started_at"
    t.datetime "completed_at"
    t.decimal "price"
    t.text "instructions"
    t.uuid "uuid"
    t.text "qrcode_data"
    t.text "stripe_charge_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_jobs_on_user_id" %>



































    <%# <style>
       #map {
        height: 400px;
        width: 500px;
       }
    </style>
    <div id="map"></div>
    <script>
      function initMap() {
        var home = {lat: -0.378106441e2, lng: 0.14496871e3};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: home
        });
        var marker = new google.maps.Marker({
          position: home,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7K76IDfI4l7GFCY6SexQtGYEZcdmEkOk&callback=initMap">
    </script> %>




<%# <div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
  
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

var marker = new google.maps.Marker({position: myCenter});

marker.setMap(map);

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7K76IDfI4l7GFCY6SexQtGYEZcdmEkOk&callback=myMap"></script> %>
