<%= link_to 'Book Qer', new_job_path %> |
<%= link_to 'Be A Qer', jobs_qer_path %> |
<%= link_to 'Support', support_path %> |
<%= link_to 'See Bookings', jobs_path(current_user) %> |
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %> |
<%= link_to 'View Profile', profile_path(current_user) %>

<h1>Welcome home <%= current_user.profile.first_name %></h1>

<h2>A map with current available jobs goes here</h2>

<p>
  <strong>Latitude:</strong>
  <%= current_user.profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= current_user.profile.longitude %>
</p>
    <style>
      #map {
        height: 400px;
        width: 400px;
       }
    </style>

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <%= javascript_tag do %>
      function initMap() {
        const locations = <%= raw @locations.to_json %>
        locations.forEach((local) => {
          local.lng = parseFloat(local.lng)
          local.lat = parseFloat(local.lat)
          })

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -37.8182119, lng:144.9543325},
          zoom: 15,
        });
    // markers for each location
    locations.map((location, i) => {
      return new google.maps.Marker({
        position: location,
        label: location.name,
        map: map
      });
      });
    }
    <% end %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_KEY"] %>&callback=initMap">
    </script>

<br><br><br><br>
<div>
    <%= @jobs.count %> <br>
    <% @jobs.each do |job| %> <br>
        <div>
        <%= image_tag job.user.profile.image_url(:job_card) %> <br>
        <%= job.user.profile.first_name %>
        <%= job.user.profile.last_name %>
        </div><br>

        <div>
        <%= job.title %> <br>
        <ul>
            <li><%= job.street_address %></li>
            <li><%= job.city %></li>
            <li><%= job.started_at %></li>
            <li>$<%= job.price %></li>
            <li><%= job.instructions %></li>
        </ul>
        <%= link_to 'See Job', job_path(job.id) %>
        </div>
    <% end %>
</div>